h1 {
    color: black;
    background-color: darkorchid;
    text-align: center;
   font: normal 2.5em/2em  Georgia, 'Times New Roman', Times, serif;
   
}

h3 {
    color: darkblue;
}




body {

    background-color: lightblue;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}


