 header{
    color: black;
    background-color: darkorchid;
    text-align: center;
   font: normal 2.5em/2em  Georgia, 'Times New Roman', Times, serif;
   
}
 
h3 {
    color: darkblue;
}
body {

    background-color: lightblue;
    color: rgb(121, 123, 218);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}

h6 {
    color: darkblue;
}

main {
    color: (121, 123, 218);

}
 
#importantstuff {
    color: rgb(0, 0, 94);
}