h1 {
    color:darkgreen;
    background-color: black;
    text-align: center;
   font: bold 2.5em/3em normal 'Franklin Gothic  Medium', 'Arial Narrow', Arial, sans-serif
   
}

h3 {
    color: darkseagreen;
}




body {

    background-color: lightgoldenrodyellow;
    color: darkslategray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}


